{% extends "layout/base.html" %}
{% block title %}Historic Roast{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/resources/css/roast.css" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class="row">

    <div class="modal fade" id="roastPropertiesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Roast Properties</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="roast-properties-form">
            <div class="modal-body">
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput">Coffee</label>
                  {% if inventory|count > 0 %}
                  <select id="inventory">
                    <option value="">Select coffee</option>
                    {% for item in inventory %}
                    <option id="{{item.get('id')}}" origin="{{item.get('origin')}}" max-weight="{{item.get('stock')}}" value="{{item.get('label')}}">{{item.get('label')}}</option>
                    {% endfor %}
                  </select>
                  {% else %}
                    <a href="/inventory" class="logout"><button class="btn btn-sm btn-danger" type="button">Add Inventory</button></a>
                  {% endif %}
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput">Profile</label>
                  <select id="history">
                    <option value="">Select profile</option>
                    <option value="manual">Manual</option>
                    {% for item in history %}
                    <option></option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput2">Operator</label>
                  <input type="text" class="form-control" id="operator" value="{{current_user.get_name()}}" disabled>
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput2">Input (grams)</label>
                  <input type="number" class="form-control" id="input-weight" name="input-weight" min="0" max="500" placeholder="225">
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput2">Output (grams)</label>
                  <input type="number" class="form-control" id="output-weight" name="output-weight" min="-1" max="500" placeholder="185" value="-1">
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput2">Notes</label>
                  <textarea class="form-control" id="roast-notes" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" class="form-control" id="roast-id" value="">
              <input type="hidden" class="form-control" id="graph-title" value="">
              <input type="hidden" class="form-control" id="graph-subtitle" value="">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button id="update-roast" type="submit" class="btn btn-primary">Update Roast</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <nav class="col-sm-4 col-md-2 d-none d-sm-block bg-light sidebar">

      <div id="roast-profile" class="">
        <h4>Coffee</h4>
        <p>{{roast.get('coffee')}}</p>
        <h4>Operator</h4>
        <p>{{roast.get('operator')}}</p>
        <h4>Date</h4>
        <p>{{roast.get('date')}}</p>
        <h4>Duration</h4>
        <p>{{roast.get('duration')}}</p>
        <h4>Input</h4>
        <p>{{roast.get('input_weight')}}</p>
        <h4>Output</h4>
        <p>{{roast.get('output_weight')}}</p>

        <button class="btn btn-sm btn-warning toggle-control margin-bottom-10" type="button" data-toggle="modal" data-target="#roastPropertiesModal">Edit</button>
        <button class="btn btn-sm btn-info toggle-control" type="button" data-toggle="modal" data-target="#roastPropertiesModal">Save as Profile</button>
      </div>

      <div id="roast-export">
        <h4 class="sidebar-header">Export</h4>
        <button id="export-png" class="btn btn-sm btn-primary toggle-control margin-bottom-10">Graph</button>
        <a href="/export?id={{roast.get('id')}}"><button id="export-log" class="btn btn-sm btn-primary toggle-control margin-bottom-10">Log</button></a>
      </div>
    </nav>

    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <div id="container" class="graph"></div>
      <div id="auxiliary" class="graph"></div>
      <div class="container">
        <h4>Notes</h4>
        {% if roast.get('notes')|count > 0 %}
        <p>{{roast.get('notes')}}</p>
        {% else %}
        <p>No notes saved.</p>
        {% endif %}
      </div>
    </main>
  </div>
{% endblock %}
{% block bottom_import %}
    {{ super() }}
    <script type="text/javascript">
      $('#roast-controls').show().css('visibility', 'visible');
      $('#roast-export').show().css('visibility', 'visible');
    </script>
    <script src="/resources/external/highcharts/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>

    <script src="/resources/js/graph.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {
      mainChart.series[0].setData({{derived['s1']}});
      mainChart.series[1].setData({{derived['s2']}});
      auxChart.series[0].setData({{derived['s3']}});
      auxChart.series[1].setData({{derived['s4']}});

      $('#operator').val("{{roast.get('operator')}}");
      $('#input-weight').val("{{roast.get('input_weight')}}");
      $('#output-weight').val("{{roast.get('output_weight')}}");
      $('#roast-notes').val("{{roast.get('notes')}}");

      var properties = {name: $('#graph-title').val(),
                        operator: $('#operator').val(),
                        input_weight: $('#input-weight').val(),
                        output_weight: $('#output-weight').val(),
                        coffee: $('#graph-title').val(),
                        notes: $('#roast-notes').val()}

      var subtitle = `{{roast.get('date')}}, ${properties.operator}, input: ${properties.input_weight}, output: ${properties.output_weight}`;
      mainChart.setTitle({text: "{{roast.get('name')}}"},
                         {text: subtitle});
    });

    $('#inventory').change(function() {
      var selection = $(this).val();
      var title = $('option:selected', this).attr('origin') + " - " + selection;
      $('#graph-title').val(title);
      $('#roast-id').val($('option:selected', this).attr('id'));
      mainChart.setTitle({text: title});
      var weight = $('option:selected', this).attr('max-weight');
      $('input[name="input-weight"]')
      .attr('max', weight)
      .attr('placeholder', "Less than " + weight + " grams");
      $('input[name="output-weight]"').attr('max', weight);
    });

    $('#roast-properties-form').bind("submit", function(e) {
      e.preventDefault();
      if (!e.target.checkValidity()) {
        return false;
      }
      var today = new Date();
      var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
      var properties = {name: $('#graph-title').val(),
                        operator: $('#operator').val(),
                        input_weight: $('#input-weight').val(),
                        output_weight: $('#output-weight').val(),
                        coffee: $('#graph-title').val(),
                        notes: $('#roast-notes').val()}
      var subtitle = `${date}, ${properties.operator}, input: ${properties.input_weight}, output: ${properties.output_weight}`;
      $('#graph-subtitle').val(subtitle);
      mainChart.setTitle({text: $('#graph-title').val()}, {text: subtitle});
      socket.emit('roast-properties', properties);
      $('#roastPropertiesModal').modal('hide');
      $(window).bind("beforeunload",function(event) {
          return false;
      });
    });
    </script>
{% endblock %}