{% extends "layout/base.html" %}
{% block title %}Roast{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/resources/css/history.css" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class="row">
    <main role="main" class="col-md-12 pt-3">
      <h1>History <span class="pull-right"><a href="/roast"><button class="btn btn-primary" type="button">New Roast</button></a></h1>
      <div class="table-responsive">
        {% if history|count > 0 %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Roast</th>
              <th>Quantity</th>
              <th>Duration</th>
              <th>Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% for item in history %}
            <tr id="{{ item.get('id') }}">
              <td><a href="/roast/{{item.get('id')}}">{{item.get('name')}}</a></td>
              <td>{{item.get('input_weight')}}</td>
              <td>{{item.get('duration')}}</td>
              <td>{{item.get('date')}}</td>
              <td>
                <button type="button" class="btn btn-sm btn-danger delete-row">Delete</button>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% else %}
        <div class="card text-white bg-secondary">
          <div class="card-body history-card">
            <h4 class="card-title">Get to Roasting</h4>
            <p class="card-text">Once you start roasting some coffee, we will show you your history. You'll be able to view past roasts in complete detail along with profile graphs and statistics.</p>
          </div>
        </div>
        {% endif %}
      </div>
    </main>
  </div>
{% endblock %}
{% block bottom_import %}
    {{ super() }}
    <script type="text/javascript">

      $('.delete-row').click(function(e) {
        _this = this;
        $.ajax({
            url: '/history/remove-item',
            type: 'post',
            dataType: 'json',
            contentType:'application/json',
            data: JSON.stringify({ id: $(this).closest('tr').attr('id')}),
            success: function(data) {
              if (data.success) {
                $(_this).closest('tr').remove();
              } else {
                $('#error-message').text(data.error).show();
                $('#error-container').show().removeClass('hidden');
              }
            }
        });
      });
    </script>
{% endblock %}