{% extends "layout/base.html" %}
{% block title %}Historic Roast{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/resources/css/roast.css" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class="row">

    <div class="modal fade" id="roastPropertiesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Roast Properties</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="roast-properties-form" >
            <div class="modal-body">
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput2">Input (grams)</label>
                  <input type="number" class="form-control" id="input-weight" name="input-weight" min="0" max="500" placeholder="225">
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput2">Output (grams)</label>
                  <input type="number" class="form-control" id="output-weight" name="output-weight" step="0.1" placeholder="185.0">
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput2">Notes</label>
                  <textarea class="form-control" id="roast-notes" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" class="form-control" id="coffee" value="{{roast.get('coffee')}}">
              <input type="hidden" class="form-control" id="date" value="{{roast.get('date')}}">
              <input type="hidden" class="form-control" id="operator" value="{{current_user.get_name()}}">
              <input type="hidden" class="form-control" id="roast-id" value="{{roast.get('id')}}">
              <input type="hidden" class="form-control" id="graph-title" value="">
              <input type="hidden" class="form-control" id="graph-subtitle" value="">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button id="update-roast" type="submit" class="btn btn-primary">Update Roast</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="addRoastProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Profile</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="roast-profile-form">
            <div class="modal-body">
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput2">Coffee</label>
                  <input type="text" class="form-control" id="coffee" value="{{roast.get('coffee')}}" disabled>
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput">Roast</label>
                  <select id="history" required>
                    <option value="">Select level</option>
                    <option value="light">Light</option>
                    <option value="medium">Medium</option>
                    <option value="dark">Dark</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput">Optimal Brew Methods</label>
                  <select id="brew_methods" name="brew_methods" multiple required>
                    <option value="pour_over">Pour-over</option>
                    <option value="french_press">French Press</option>
                    <option value="espresso">Espresso</option>
                    <option value="siphon">Siphon</option>
                    <option value="cold_brew">Cold Brew</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput2">Drop Temperature</label>
                  <input type="number" class="form-control" id="drop-temp" value="{{roast['last']['environment_temp']|int}}">
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput2">Notes</label>
                  <textarea class="form-control" id="profile-notes" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" class="form-control" id="coffee" value="{{roast.get('coffee')}}">
              <input type="hidden" class="form-control" id="date" value="{{roast.get('date')}}">
              <input type="hidden" class="form-control" id="operator" value="{{current_user.get_name()}}">
              <input type="hidden" class="form-control" id="roast-id" value="{{roast.get('id')}}">
              <input type="hidden" class="form-control" id="graph-title" value="">
              <input type="hidden" class="form-control" id="graph-subtitle" value="">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button id="update-roast" type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <nav class="col-sm-4 col-md-2 d-none d-sm-block bg-light sidebar">

      <div id="roast-profile" class="">
        <h4>Coffee</h4>
        <p>{{roast.get('coffee')}}</p>
        <h4>Date</h4>
        <p>{{roast.get('date')}}</p>
        <h4>Duration</h4>
        <p>{{roast.get('duration')}}</p>
        <h4>Input</h4>
        <p id="sidebar-input-weight">{{roast.get('input_weight')}}</p>
        <h4>Output</h4>
        <p id="sidebar-output-weight">{{roast.get('output_weight')}}</p>
        <h4>Notes</h4>
        {% if roast.get('notes')|count > 0 %}
        <p id="sidebar-note">{{roast.get('notes')}}</p>
        {% else %}
        <p id="sidebar-note">No notes saved.</p>
        {% endif %}
        <hr/>

        <button class="btn btn-sm btn-warning toggle-control margin-bottom-10" type="button" data-toggle="modal" data-target="#roastPropertiesModal">Edit</button>
        <button class="btn btn-sm btn-info toggle-control" type="button" data-toggle="modal" data-target="#addRoastProfile">Save as Profile</button>
      </div>

      <div id="roast-export">
        <h4 class="sidebar-header">Export</h4>
        <button id="export-png" class="btn btn-sm btn-primary toggle-control margin-bottom-10">Graph</button>
        <a href="/export?id={{roast.get('id')}}"><button id="export-log" class="btn btn-sm btn-primary toggle-control margin-bottom-10">Log</button></a>
      </div>
    </nav>

    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <div id="container" class="graph"></div>
      <div id="auxiliary" class="graph"></div>
      <hr/>
      <div class="row sub-row">
        <div class=col-md-5>
          <h4 style="text-align: center;">Details</h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Event</th>
                  <th>Bean Temperatures</th>
                  <th>Delta</th>
                </tr>
              </thead>
              <tbody>
              {% for key, value in details.iteritems() %}
                <tr>
                  <td>{{key}}</td>
                  <td>({{value.get('first', {}).get('bean_temp_str', 'N/A')}}, {{value.get('last', {}).get('bean_temp_str', 'N/A')}})</td>
                  <td>{{value.get('delta', "N/A")}} ({{value.get('percent', "0")}}%)</td>
                  <td></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class=col-md-7>
          <h4 style="text-align: center;">Brews <a href="/brews"><i class="fa fa-link" aria-hidden="true"></i></a></h4>
            {% if brews|count > 0 %}
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Method</th>
                    <th>Input</th>
                    <th>Output</th>
                    <th>Time</th>
                    <th>Tasting Notes</th>
                  </tr>
                </thead>
                <tbody>
                {% for item in brews %}
                  <tr id="{{item.get('id')}}" roast-id="{{item.get('roast_id')}}" coffee="{{item.get('coffee')}}" date="{{item.get('date')}}" duration="{{item.get('duration')}}">
                    <td>{{item.get('datetime')[0:10]}}</td>
                    <td>{{item.get('brew_method').title() | replace('_', ' ')}}</td>
                    <td>{{item.get('input_weight')}}</td>
                    <td>{{item.get('output_weight')}}</td>
                    <td>{{item.get('brew_time')}}</td>
                    <td>
                      <i class="fa fa-sticky-note-o" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{item.get('tasting_notes')}}"></i>
                      <span id="note-content">{{item.get('tasting_notes')}}</span>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            {% else %}
            <div class="card text-white bg-secondary">
              <div class="card-body brew-card">
                <h5 class="card-title">Save Your Notes</h5>
                <p class="card-text">Every roast is going to produce slightly different flavors. Saving your brew notes makes it easy to recall what a specific coffee tasted like for each brew method.</p>
              </div>
            </div>
            {% endif %}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
{% block bottom_import %}
    {{ super() }}
    <script type="text/javascript">
      $(function () {
          $('[data-toggle="tooltip"]').tooltip()
      });
      $('#roast-controls').show().css('visibility', 'visible');
      $('#roast-export').show().css('visibility', 'visible');
    </script>
    <script src="/resources/external/highcharts/highstock.js"></script>
    <script src="/resources/external/highcharts/modules/exporting.js"></script>
    <script src="/resources/external/highcharts/modules/offline-exporting.js"></script>

    <script src="/resources/js/graph.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {
      mainChart.series[0].setData({{derived['s1']}});
      mainChart.series[1].setData({{derived['s2']}});
      mainChart.series[2].setData({{derived['flags']|safe}});
      auxChart.series[0].setData({{derived['s3']}});
      auxChart.series[1].setData({{derived['s4']}});

      $('#operator').val("{{roast.get('operator')}}");
      $('#input-weight').val("{{roast.get('input_weight')}}");
      $('#output-weight').val("{{roast.get('output_weight')}}");
      $('#roast-notes').val("{{roast.get('notes')}}");

      var properties = {name: $('#graph-title').val(),
                        operator: $('#operator').val(),
                        input_weight: $('#input-weight').val(),
                        output_weight: $('#output-weight').val(),
                        coffee: $('#graph-title').val(),
                        notes: $('#roast-notes').val()}

      var subtitle = `{{roast.get('date')}}, ${properties.operator},
                      input: ${properties.input_weight},
                      output: ${properties.output_weight}`;
      mainChart.setTitle({text: "{{roast.get('name')}}"},
                         {text: subtitle});
    });

    $('#roast-properties-form').bind("submit", function(e) {
      e.preventDefault();
      if (!e.target.checkValidity()) {
        return false;
      }
      var date = $('#date').val();
      var properties = {id: $('#roast-id').val(),
                        name: $('#graph-title').val(),
                        operator: $('#operator').val(),
                        input_weight: $('#input-weight').val(),
                        output_weight: $('#output-weight').val(),
                        coffee: $('#coffee').val(),
                        notes: $('#roast-notes').val()}
      var subtitle = `${date}, ${properties.operator},
                      input: ${properties.input_weight},
                      output: ${properties.output_weight}`;
      $('#graph-subtitle').val(subtitle);
      mainChart.setTitle({text: "{{roast.get('name')}}"}, {text: subtitle});
      $('#roastPropertiesModal').modal('hide');
      $('#sidebar-note').html($('#roast-notes').val());
      $('#sidebar-input-weight').html($('#input-weight').val());
      $('#sidebar-output-weight').html($('#output-weight').val());

      $.ajax({
          url: '/roast/update-properties',
          type: 'post',
          dataType: 'json',
          contentType:'application/json',
          data: JSON.stringify(properties),
          success: function(data) {
            if (data.success) {
              console.log("Done");
            }
          }
      });
    });

    $('#roast-profile-form').bind("submit", function(e) {
      e.preventDefault();
      if (!e.target.checkValidity()) {
        return false;
      }
      var today = new Date();
      var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
      var properties = {
        coffee: $('#coffee').val(),
        roast: $('#history').find(":selected").val(),
        brew_methods: $('#brew_methods').val(),
        drop_temp: $('#drop-temp').val(),
        notes: $('#profile-notes').val()
      }
      $('#addRoastProfile').modal('hide');

      $.ajax({
          url: '/roast/save-profile',
          type: 'post',
          dataType: 'json',
          contentType:'application/json',
          data: JSON.stringify(properties),
          success: function(data) {
            if (data.success) {
              console.log("Done");
            }
          }
      });
    });

    </script>
{% endblock %}