{% extends "layout/base.html" %}
{% block title %}Inventory{% endblock %}
{% block head %}
    {{ super() }}
    <link href="resources/css/inventory.css" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class="row">

    <div class="modal fade" id="inventoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Inventory</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/inventory/add-inventory" method="POST">
            <div class="modal-body">
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput">Label</label>
                  <input type="text" class="form-control" name="label" placeholder="Nano Challa Cooperative">
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput2">Origin</label>
                  <input type="text" class="form-control" name="origin" placeholder="Ethiopia">
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput2">Process</label>
                      <select name="method" class="form-control">
                        <option value="Washed">Washed</option>
                        <option value="Natural">Natural</option>
                        <option value="Honey">Honey</option>
                      </select>
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput2">Stock (grams)</label>
                  <input type="number" class="form-control" name="stock" placeholder="450">
                </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Add Coffee</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="inventoryEditModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Inventory</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/inventory/edit-inventory" method="POST">
            <div class="modal-body">
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput">Label</label>
                  <input type="text" class="form-control" name="label" placeholder="Nano Challa Cooperative">
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput2">Origin</label>
                  <input type="text" class="form-control" name="origin" placeholder="Ethiopia">
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput2">Process</label>
                      <select name="method" class="form-control">
                        <option value="Washed">Washed</option>
                        <option value="Natural">Natural</option>
                        <option value="Honey">Honey</option>
                      </select>
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput2">Stock (grams)</label>
                  <input type="number" class="form-control" name="stock" placeholder="450">
                </div>

            </div>
            <div class="modal-footer">
              <input type="hidden" class="form-control" name="inventory_id" value="">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save Coffee</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <main role="main" class="col-md-12 pt-3">
      <h1>Inventory <span class="pull-right"><button class="btn btn-primary" type="button" data-toggle="modal" data-target="#inventoryModal">Add Inventory</button></h1>
      <div id="error-container" class="alert alert-danger hidden" role="alert">
        <span id="error-message"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="table-responsive">
        {% if inventory|count > 0 %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Origin</th>
              <th>Process</th>
              <th>Stock</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% for item in inventory %}
            {% if item.get('stock')|int < 453 %}
            <tr id="{{item.get('id')}}" class="table-danger">
            {% elif item.get('stock')|int < 907 %}
            <tr id="{{item.get('id')}}" class="table-warning">
            {% else %}
            <tr id="{{item.get('id')}}">
            {% endif %}
              <td>{{item.get('label')}}</td>
              <td>{{item.get('origin')}}</td>
              <td>{{item.get('process')}}</td>
              <td>{{item.get('stock')}}</td>
              <td>
                <button type="button" class="btn btn-sm btn-primary edit-row">Edit</button>
                <button type="button" class="btn btn-sm btn-danger delete-row">Delete</button>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% else %}
        <div class="card text-white bg-secondary">
          <div class="card-body inventory-card">
            <h4 class="card-title">You're Out of Beans</h4>
            <p class="card-text">There's currently no coffee inside of your inventory. Once you add some beans, they will show up here!</p>
          </div>
        </div>
        {% endif %}
      </div>
    </main>
  </div>
{% endblock %}
{% block bottom_import %}
    {{ super() }}
    <script type="text/javascript">

      $('.delete-row').click(function(e) {
        _this = this;
        $.ajax({
            url: '/inventory/remove-item',
            type: 'post',
            dataType: 'json',
            contentType:'application/json',
            data: JSON.stringify({ id: $(this).closest('tr').attr('id')}),
            success: function(data) {
              if (data.success) {
                $(_this).closest('tr').remove();
              } else {
                $('#error-message').text(data.error).show();
                $('#error-container').show().removeClass('hidden');
              }
            }
        });
      });

      $('.edit-row').click(function(e) {
        var row = $(this).closest('tr');
        var columns = row.find('td');
        $('#inventoryEditModal').find('input[name="inventory_id"]').val(row.attr('id'));
        $('#inventoryEditModal').find('input[name="label"]').val($(columns[0]).html());
        $('#inventoryEditModal').find('input[name="origin"]').val($(columns[1]).html());
        $('#inventoryEditModal').find('select[name="method"]').val($(columns[2]).html());
        $('#inventoryEditModal').find('input[name="stock"]').val($(columns[3]).html());
        $('#inventoryEditModal').modal('show', true);
      });
    </script>
{% endblock %}