{% extends "layout/base.html" %}
{% block title %}Active Roast{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/resources/css/roast.css" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class="row">

    <div class="modal fade" id="roastPropertiesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Roast Properties</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="roast-properties-form">
            <div class="modal-body">
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput">Coffee</label>
                  {% if inventory|count > 0 %}
                  <select id="inventory" required>
                    <option value="">Select coffee</option>
                    {% for item in inventory %}
                    <option id="{{item.get('id')}}" origin="{{item.get('origin')}}" max-weight="{{item.get('stock')}}" value="{{item.get('label')}}">{{item.get('label')}}</option>
                    {% endfor %}
                  </select>
                  {% else %}
                    <a href="/inventory" class="logout"><button class="btn btn-sm btn-danger" type="button">Add Inventory</button></a>
                  {% endif %}
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput">Profile</label>
                  <select id="history">
                    <option value="">Select profile</option>
                    <option value="manual">Manual</option>
                    {% for item in history %}
                    <option></option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput2">Operator</label>
                  <input type="text" class="form-control" id="operator" value="{{current_user.get_name()}}" disabled>
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput2">Input (grams)</label>
                  <input type="number" class="form-control" id="input-weight" name="input-weight" min="0" max="500" placeholder="225" required>
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput2">Output (grams)</label>
                  <input type="number" class="form-control" id="output-weight" name="output-weight" step="0.1" placeholder="185.0">
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput2">Notes</label>
                  <textarea class="form-control" id="roast-notes" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" class="form-control" id="coffee-id" value="">
              <input type="hidden" class="form-control" id="graph-title" value="">
              <input type="hidden" class="form-control" id="graph-subtitle" value="">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button id="update-roast" type="submit" class="btn btn-primary">Update Roast</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <nav class="col-sm-4 col-md-2 d-none d-sm-block bg-light sidebar">

      <div id="roast-profile" class="">
        <h4 class="sidebar-header">Roast</h4>
        <button class="btn btn-sm btn-secondary toggle-control" type="button" data-toggle="modal" data-target="#roastPropertiesModal">Properties</button>
      </div>

      <div id="roast-connection">
        <h4 class="sidebar-header">Roaster  <i id="connection-status" class="fa fa-circle disconnected" aria-hidden="true"></i></h4>
        <button class="btn btn-sm btn-success toggle-control margin-bottom-10 setup" type="button" action="true">Connect</button>
        <button class="btn btn-sm btn-warning toggle-control margin-bottom-10 shutdown" type="button" action="true">Shutdown</button>
        <button class="btn btn-sm btn-danger toggle-control margin-bottom-10 reset" type="button" action="true">Reset</button>
      </div>

      <div id="roast-controls">
        <h4 class="sidebar-header">Controls  <i id="monitor-status" class="fa fa-circle disconnected" aria-hidden="true"></i></h4>
        <button class="btn btn-sm btn-success toggle-control margin-bottom-10 start-monitor" type="button" action="true" disabled>Start Monitor</button>
        <button class="btn btn-sm btn-warning toggle-control margin-bottom-10 stop-monitor save-svg" type="button" action="true" disabled>Stop Monitor</button>

        <h5 class="sidebar-header">Fan</h5>
        <div id="fan-slider" class="slider">
          <div id="fan-handle" class="ui-slider-handle"></div>
        </div>

        <h5 class="sidebar-header">Heat</h5>
        <div id="heat-slider" class="slider">
          <div id="heat-handle" class="ui-slider-handle"></div>
        </div>

        <h5 class="sidebar-header">Drum Motor</h5>
        <button id="drum-motor-btn" class="btn btn-sm toggle-control sec-control" type="button" action=""></button>

        <h5 class="sidebar-header">Stirring Motor</h5>
        <button id="cooling-motor-btn" class="btn btn-sm toggle-control sec-control" type="button" action=""></button>

        <h5 class="sidebar-header">Drum Hatch</h5>
        <button id="solenoid-btn" class="btn btn-sm toggle-control sec-control margin-bottom-10" type="button" action=""></button>
      </div>

      <div id="roast-export">
        <h4 class="sidebar-header">Export</h4>
        <button id="export-png" class="btn btn-sm btn-secondary toggle-control margin-bottom-10">Graph</button>
      </div>

      <input type="hidden" id="roast-id" value="">
    </nav>

    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <div class="row">
        <div class="col-md-5">
          <table class="table table-sm table-bordered">
            <thead>
              <tr>
                <th scope="col" class="tbl-label etemp">Environment Temperature</th>
                <th scope="col" class="tbl-label btemp">Bean Temperature</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span id="environment-temp" class='reading etemp'>-1</span></td>
                <td><span id="bean-temp" class='reading btemp'>-1</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-7">
          <table class="table table-sm table-bordered">
            <thead>
              <tr>
                <th scope="col" class="tbl-label duration">Duration</th>
                <th scope="col" class="tbl-label">Solenoid</th>
                <th scope="col" class="tbl-label">Drum Motor</th>
                <th scope="col" class="tbl-label">Cooling Motor</th>
                <th scope="col" class="tbl-label">Chaff Tray</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span id="duration" class='stopwatch'>00:00</span></td>
                <td><span id="solenoid" class='reading'>-1</span></td>
                <td><span id="drum-motor" class='reading'>-1</span></td>
                <td><span id="cooling-motor" class='reading'>-1</span></td>
                <td><span id="chaff-tray" class='reading'>-1</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr/>
      <div id="container" class="graph"></div>
      <div id="auxiliary" class="graph"></div>
      <div class="roast-actions">
        <button class="btn btn-sm btn-primary margin-10 dry-end" type="button" action="true">Dry End</button>
        <button class="btn btn-sm btn-primary margin-10 fc" type="button" action="true">First Crack</button>
        <button class="btn btn-sm btn-primary margin-10 sc" type="button" action="true">Second Crack</button>
        <button class="btn btn-sm btn-primary margin-10 drop" type="button" action="true">Drop</button>
        <span><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
        <button class="btn btn-sm btn-info margin-10 zero-heat" type="button" action="true">Zero Heat</button>
        <button class="btn btn-sm btn-info margin-10 heat-minus-10" type="button" action="true">Heat <b>-10</b></button>
        <button class="btn btn-sm btn-info margin-10 fan-plus-1" type="button" action="true">Fan <b>+1</b></button>
      </div>
      <div id="cooldown-alert" class="alerts hidden">
        <div class="alert alert-info alert-dismissible show" role="alert">
          <strong>Cool down Activated!</strong> Consider stopping the monitor now. When the beans are cooled, click shutdown to turn the roast off.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
{% block bottom_import %}
    {{ super() }}
    <script type="text/javascript">
    $("#fan-slider").slider({
      range: "min", value: 0, min: 0, max: 10,
      create: function() {
        $('#fan-handle').text($(this).slider("value"));
      }
    });
    $("#heat-slider").slider({
      range: "min", value: 0, min: 0, max: 100,
      create: function() {
        $('#heat-handle').text($(this).slider("value"));
      }
    });
    var historic = false;
    </script>

    <!-- Import graphing related items -->
    <script src="/resources/external/stopwatch.js"></script>
    <script src="/resources/external/highcharts/highstock.js"></script>
    <script src="/resources/external/highcharts/modules/exporting.js"></script>
    <script src="/resources/external/highcharts/modules/offline-exporting.js"></script>
    <script src="resources/js/graph.js"></script>
    <script src="resources/js/hottop.js"></script>

    <script type="text/javascript">
      $('#inventory').change(function() {
        var selection = $(this).val();
        var title = $('option:selected', this).attr('origin') + " - " + selection;
        $('#graph-title').val(title);
        $('#coffee-id').val($('option:selected', this).attr('id'));
        mainChart.setTitle({text: title});
        var weight = $('option:selected', this).attr('max-weight');
        $('input[name="input-weight"]')
        .attr('max', weight)
        .attr('placeholder', "Less than " + weight + " grams");
        $('input[name="output-weight]"').attr('max', weight);
      });

      $('#roast-properties-form').bind("submit", function(e) {
        e.preventDefault();
        if (!e.target.checkValidity()) {
          console.error("Form invalid")
          return false;
        }
        var today = new Date();
        var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        var properties = {name: $('#graph-title').val(),
                          operator: $('#operator').val(),
                          input_weight: $('#input-weight').val(),
                          output_weight: $('#output-weight').val(),
                          coffee: $('#graph-title').val(),
                          coffee_id: $('#coffee-id').val(),
                          notes: $('#roast-notes').val()}
        var subtitle = `${date}, ${properties.operator},
                        input: ${properties.input_weight},
                        output: ${properties.output_weight}`;
        $('#graph-subtitle').val(subtitle);
        mainChart.setTitle({text: $('#graph-title').val()}, {text: subtitle});
        console.log(properties);
        socket.emit('roast-properties', properties);
        $('#roastPropertiesModal').modal('hide');
        $('#roast-controls').show().css('visibility', 'visible');
        $('#roast-export').show().css('visibility', 'visible');
        $(window).bind("beforeunload",function(event) {
            return false;
        });
      });
    </script>
{% endblock %}